h1{
    text-align: center;
    color: red;
}
/* attribute selector*/
a[title="google"] {
    color:red;
}
 
/*id selector*/
#idselector {
    color:blueviolet;
}

/*class selector*/
.classSelector {
    color:blue;
    font-size: medium;
    word-spacing:20px;
    line-height:30px;
}

/* desc selector */
.desc a {
    color:red;
}

/* child selector*/
.child > a {
    color:darkgreen;
}

/* pseudo selector*/
a:link{
    color:red;
}

a:hover{
    color:rgb(59, 7, 82);
    word-spacing: 10px;
}

a:active{
    color:rgb(255, 145, 0);
}

a:visited{
    color:darkgreen;
}

/* target */
p:target {
    color:red;
    border: 1px solid black;
}

div:target {
    color:aqua;
    border: 1px solid black;
}

/* Border */
.border1 {
    border: 2px dashed red;
}

.border2 {
    border-left: 4px solid red;
    border-right: 4px solid red;
}

.borderwidth {
    border-width: thin;
    border-style: solid;
}

.borderStyle {
    /* border-style: dashed; */
    /* all four T R B L */
    /* border-style: dashed solid; */
    /*  T B / L R */
    /* border-style: solid dotted double; */
    /* T / L R / B */
    border-style:dashed solid double dotted;
    /* T / R / B / L */
}